  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
  
<%= stylesheet_link_tag 'devise.css', media: 'all'%>  

  
</head>

  <body class="align">

  <div class="grid">

    <div id="login">

      <h3><span class="fa fa-lock"></span>Sign Up</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<fieldset>

	<%- if devise_mapping.omniauthable? %>
		<%- resource_class.omniauth_providers.each do |provider| %>
		<%= link_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), {:class=>'social-facebook' }%>
	<% end -%>
	<% end -%>
        <hr>
	<%= devise_error_messages! %>

        <p><%= f.label :email %></p>
        <p> <%= f.email_field :email, autofocus: true %></p>
	<p> <%= f.label :password %></p>
	<% if @minimum_password_length %>
		<em>(<%= @minimum_password_length %> characters minimum)</em>
	<% end %>
	<p><%= f.password_field :password, autocomplete: "off" %></p>
	<p><%= f.label :password_confirmation %></p>          
	<p><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
          <p><%= f.submit "Sign up" %></p>
		  <hr>
		  <div>
			<%= link_to "Sign in", new_session_path(resource_name),{:style=>'float:right;'} %>
		  </div>
        </fieldset>
		

	<% end %>

    </div> 

  </div>  
</body>
</html>
